.home_page{
    .home_herader{
        background: linear-gradient(to bottom, #6E19FF, #DC19FF);
        >img{
            width: 80px;
            height: 80px;
        }
        .home_herader_btn{
            background-color: #000;
            width: 293px;
            >img{
                height: 24px;
                width: 24px;
            }
        }
    }
    .token_issuance{
        width: 100%;
        height: 165px;
        background-image: url("/images/home/img-homeBg1.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .token_issuance_box{
            position: absolute;
            left: 0;
            top: 26px;
            padding: 12px;
            .token_img{
                width: 54px;
                height: 54px;
            }
            .end_img{
                width: 58px;
                height: 58px;
            }
        }
        
    }
    .bonding_issuance{
        width: 100%;
        height: 165px;
        background-image: url("/images/home/img-homeBg2.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .token_issuance_box{
            position: absolute;
            left: 0;
            top: 26px;
            padding: 12px;
            .token_img{
                width: 54px;
                height: 54px;
            }
            .end_img{
                width: 58px;
                height: 58px;
            }
        }
    }
    .erc1000_issuance{
        width: 100%;
        height: 165px;
        background-image: url("/images/home/img-homeBg3.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .token_issuance_box{
            position: absolute;
            left: 0;
            top: 26px;
            padding: 12px;
            .token_img{
                width: 54px;
                height: 54px;
            }
            .end_img{
                width: 58px;
                height: 58px;
            }
        }
    }
    .telegaml_box{
        background-color: #0F0F0F;
        border-radius: 100px;
    }
}