.farming_page{
    @keyframes bubbleAnimation {
        0% {
          opacity: 0;
          transform: translateY(0) scale(0.5);
        }
        60% {
          opacity: 1;
          transform: translateY(-200px) scale(1);
        }
        100% {
          opacity: 0;
          transform: translateY(-400px) scale(1);
        }
    }
    .farming_bg{
        position: relative;
        // height: 392px;
        // background-image: url("/images/Farming/img-FarmingBg.svg");
        // background-size: contain;
        // background-position: center;
        // background-repeat: no-repeat;
        .farming_bg_img{
            width: 100%;
        }
        .farming_bg_center{
            position: absolute;
            top: 12px;
            width: 100%;
            height: 100%;
            z-index: 9;
            >img{
                width: 80px;
                height: 80px;
                animation: breathing 3s ease-in-out infinite;
            }
            .farming_btn{
                background-color: #000;
                width: 283px;
                >img{
                    height: 24px;
                    width: 24px;
                }
            }
            .farming_btn_loadding{
                background-color: #000;
                width: 283px;
                height: 48px;
                
                .farming_btn_loadding_box{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    >img{
                        height: 24px;
                        width: 24px;
                    }
                }
                .farming_btn_loadding_box_bg{
                    height: 100%;
                    width: 50%;
                    border-radius: 24px;
                    background: linear-gradient(to right, #6E19FF, #DC19FF);
                    
                }
            }
        }
        .bubble {
            // position: absolute;
            // border-radius: 50%;
            // pointer-events: none;
            // opacity: 0;
            width: 100%;
            z-index: 0;
        }
        .gradient_text {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            // background: linear-gradient(to right, #6E19FF, #DC19FF);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
    .dinosaur_box{
        background-color: #0F0F0F;
        .header_img_box{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
        .dinosaur_box_box{
            >img{
                width: 24px;
            }
        }
    }
}