.game_page {
    background: url('./images/game/game_bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    .box {
        // width: 800px;
        height: 600px;
        background: url('./images/game/timg.jpg') no-repeat center;
        position: relative;
        cursor: url('./images/game/chuizi.png'), auto;
        margin: 20px auto;
    }

    .box img {
        width: 130px;
        height: 130px;
        position: absolute;
        top: 100px;
        left: 140px;
        visibility: hidden;
        z-index: 2;
    }

    .box img:nth-child(2) {
        top: 100px;
        left: 340px;
    }

    .box img:nth-child(3) {
        top: 100px;
        left: 540px;
    }

    .box img:nth-child(4) {
        top: 250px;
        left: 140px;
    }

    .box img:nth-child(5) {
        top: 250px;
        left: 340px;
    }

    .box img:nth-child(6) {
        top: 250px;
        left: 540px;
    }

    .box img:nth-child(7) {
        top: 380px;
        left: 140px;
    }

    .box img:nth-child(8) {
        top: 380px;
        left: 340px;
    }

    .box img:nth-child(9) {
        top: 380px;
        left: 540px;
    }

    button {
        width: 200px;
        height: 60px;
        background-color: red;
        border-radius: 20px;
        border: none;
        outline: none;
        margin: 20px auto;
        display: block;
    }

    .times,
    .fens {
        width: 200px;
        height: 30px;
        background-color: red;
        border-radius: 20px;
        line-height: 30px;
        text-align: center;
        margin: 10px auto;
    }

}