.tasks_page{
    height: calc(100vh - 159px);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    .tasks_herader{
        height: 125px;
        background-image: url('/images/img-TasksBg.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 40px;
    }
    .tasks_list{
        .list_box{
            border-radius: 24px;
            background-color: #0F0F0F;
            
            img{
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
            .tasks_btn{
                width: 80px;
                height: 40px;
                line-height: 40px;
                border-radius: 100px;
                text-align: center;
            }
            .go_btn{
                border: 2px solid #B019FF;
                color: #B019FF;
            }
            .click_btn{
                background: linear-gradient(to right, #6E19FF, #DC19FF);
                color: #fff;
            }
        }
    }
    
    .list_box_1{
        opacity: 0; /* 初始透明 */
        transform: translateX(100px); /* 初始在左侧 */
        animation: fadeInRight 1s ease-out forwards;
    }
    .list_box_2{
        opacity: 0; /* 初始透明 */
        transform: translateX(-100px); /* 初始在左侧 */
        animation: fadeInLeft 1s ease-out forwards;
    }
    .list_box_3{
        opacity: 0; /* 初始透明 */
        transform: translateX(100px); /* 初始在左侧 */
        animation: fadeInRight 1s ease-out forwards;
    }
    .list_box_4{
        opacity: 0; /* 初始透明 */
        transform: translateX(-100px); /* 初始在左侧 */
        animation: fadeInLeft 1s ease-out forwards;
    }
    .list_box_5{
        opacity: 0; /* 初始透明 */
        transform: translateX(100px); /* 初始在左侧 */
        animation: fadeInRight 1s ease-out forwards;
    }

}
.connect_btn{
    width: 100%;
    position: fixed;
    bottom: 86px;
    background-color: #000;
    .wallet_connect{
        img{
            width: 24px;
            height: 24px;
        }
        .round_box{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #00FF33;
        }
    }
}