.tab_box{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    height: 62px;
    img{
        width: 24px;
        height: 24px;
        margin-top: 7px;
    }
    .tab_icon_box{
        height: 36px;
    }
}