.frens_page{
    .frens_header_box{
        height: 125px;
        background-image: url('/images/Frens/img-TasksBg2.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 40px;
    }
    .number_img{
        img{
            width: 24px;
        }
    }
    .centernt_box{
        // height: 286px;
        // background-image: url('/images/img-InviteFriendsBg.svg');
        // background-size: contain;
        // background-position: center;
        // background-repeat: no-repeat;
        .img_1{
            width: 100%;
            // height: 100%;
        }
    }
    .frens_btn_box{
        .invite_box{
            width: 80%;
            background: linear-gradient(to bottom, #6E19FF, #DC19FF);
            border-radius: 100px;
            height: 48px;
            line-height: 48px;
            animation: breathing 3s ease-in-out infinite;
            img{
                width: 16px;
                height: 16px;
            }
        }
        .copy_box{
            width: 72px;
            background: linear-gradient(to bottom, #6E19FF, #DC19FF);
            border-radius: 100px;
            height: 48px;
            line-height: 48px;
            img{
                width: 16px;
                height: 16px;
            }
        }
    }
}